# Python 101 - An Introduction to Python

## 1. Objects

The most basic component of any programming language are "things", also called variables or
(in special cases) objects.

The most common basic "things" in Python are integers, floats, strings, booleans, and
some special objects of various types. We'll meet many of these as we go through the lesson.

__TIP:__ To run the code in a cell quickly, press Ctrl-Enter.

__TIP:__ To run the code in a cell and go to next cell, press Shift-Enter.

In [1]:
# A thing
2

2

In [2]:
# Use print to show multiple things in the same cell
# Note that you can use single or double quotes for strings
print(2)
print(5)
print("Hello")

2
5
Hello

In [3]:
a = 2
b = "Hello"
c = True
d = 2.0
e = [a,c,d]
print(a,b,c,d,e)

2 Hello True 2.0 [2, True, 2.0]

In [4]:
print(
    type(a),
    type(b),
    type(c),
    type(d),
    type(e),
     )

<class 'int'> <class 'str'> <class 'bool'> <class 'float'> <class 'list'>

## 2. Commands that operate on things

Just storing data in variables isn't much use to us. Right away, we'd like to start performing
operations and manipulations on data and variables.

There are three very common means of performing an operation on a thing.

### 2.1 Use an operator

All of the basic math operators work like you think they should for numbers. They can also
do some useful operations on other things, like strings. There are also boolean operators that
compare quantities and give back a `bool` variable as a result.

In [5]:
a = 2 
b = 3

In [6]:
# this is a comment
print(
    a+b, # this is a comment
    a*b, # this is a comment
    a**b, # this is a comment
    a/b,
    a//b
)

5 6 8 0.6666666666666666 0

In [7]:
"Hello" + " World"

'Hello World'

In [8]:
"Hello " * 4

'Hello Hello Hello Hello '

In [9]:
#"Hello "**4

In [10]:
# Boolean operators compare two things
a = (1 > 3)
b = (3 == 3)
print(a, b)

False True

In [11]:
c = True

print("1 ", a or b) #1
print("2 ", a and b) #2
print("3 ", b and c) #3

1  True
2  False
3  True

### 2.2 Use a function

These will be very familiar to anyone who has programmed in any language, and work like you
would expect.

In [12]:
a = "hello world"

In [13]:
type(a)

str

Only very few functions are available by default in the Python interpreter (``print()``, ``len()``, ``type()``, ``round()``, ...).
All other functions must be imported from modules.

In [14]:
print(len('hello'))
print(round(3.3))

5
3

In [15]:
#?round

In [16]:
round(3.14159,3)

3.142

In [17]:
dir(__builtins__);

In [18]:
import math

In [19]:
math.pi

3.141592653589793

In [20]:
import math as m

In [21]:
m.pi

3.141592653589793

In [22]:
from math import pi

In [23]:
pi

3.141592653589793

In [24]:
from math import *

In [25]:
math.sqrt(4)

2.0

In [26]:
sqrt(4)

2.0

### 2.3 Use a method

Before we get any farther into the Python language, we have to say a word about "objects". We
will not be teaching object oriented programming in this workshop, but you will encounter objects
throughout Python (in fact, even seemingly simple things like ints and strings are actually
objects in Python).

In the simplest terms, you can think of an object as a small bundled "thing" that contains within
itself both data and functions that operate on that data. For example, strings in Python are
objects that contain a set of characters and also various functions that operate on the set of
characters. When bundled in an object, these functions are called "methods".

Instead of the "normal" `function(arguments)` syntax, methods are called using the
syntax `variable.method(arguments)`.

In [27]:
print(a.capitalize())
print(a.title())
print(a.upper())
print(a.replace("o", "--"))

Hello world
Hello World
HELLO WORLD
hell-- w--rld

__TIP:__ To find out what a function does, you can type it's name and then a question mark to
get a pop up help window. Shift-Tab for a tool-tip.

## 3. Indexing and Slicing

In [28]:
a = a.upper()
a

'HELLO WORLD'

In [29]:
a[0:2]

'HE'

In [30]:
a[2:]

'LLO WORLD'

In [31]:
a[:4]

'HELL'

In [32]:
a[::3]

'HLWL'

In [33]:
a[-5:]

'WORLD'

In [34]:
a[-1]

'D'

In [35]:
a[::-1]

'DLROW OLLEH'

In [36]:
"HELL" in a

True

In [37]:
"DO" in a

False

## 4. Collections of things

While it is interesting to explore your own height, in science we work with larger  slightly more complex datasets. In this example, we are interested in the characteristics and distribution of heights. Python provides us with a number of objects to handle collections of things.

Probably 99% of your work in scientific Python will use one of four types of collections:
`lists`, `tuples`, `dictionaries`, and `numpy arrays`. We'll look quickly at each of these and what
they can do for you.

### 4.1 Lists

Lists are probably the handiest and most flexible type of container. 

Lists are declared with square brackets []. 

Individual elements of a list can be selected using the syntax `a[ind]`.

In [38]:
a = ["blueberry", "strawberry", "pineapple", 1, True]
type(a)

list

In [41]:
a[1]

'strawberry'

In [40]:
a[-1]

True

In [39]:
a[::-1]

[True, 1, 'pineapple', 'strawberry', 'blueberry']

In [42]:
a

['blueberry', 'strawberry', 'pineapple', 1, True]

In [43]:
a[0] = "new fruit"

In [44]:
print(a)

['new fruit', 'strawberry', 'pineapple', 1, True]

In [45]:
a.append("a new thing")

In [46]:
a

['new fruit', 'strawberry', 'pineapple', 1, True, 'a new thing']

In [47]:
a.pop()
a.pop()
a.pop()

1

In [48]:
a

['new fruit', 'strawberry', 'pineapple']

In [49]:
a.sort()

In [50]:
a

['new fruit', 'pineapple', 'strawberry']

In [51]:
a.reverse()

In [52]:
a

['strawberry', 'pineapple', 'new fruit']

In [53]:
a = sorted(a)

In [54]:
a

['new fruit', 'pineapple', 'strawberry']

In [55]:
a.sort()

In [56]:
a

['new fruit', 'pineapple', 'strawberry']

> **Challenge:** Store a bunch of heights (in metres) in a list
1. Ask five people around you for their heights (in metres).
2. Store these in a list called `heights`.
3. Append your own height to the list.
4. Get the first height from the list and print it.

In [57]:
# Solution
heights = [1.72, 1.55, 1.98, 1.66, 1.78]
heights.append(1.88)
heights[0]

1.72

### 4.2 Tuples

We won't say a whole lot about tuples except to mention that they basically work just like lists, with
two major exceptions:

1. You declare tuples using () instead of []
1. Once you make a tuple, you can't change what's in it (referred to as immutable)

You'll see tuples come up throughout the Python language, and over time you'll develop a feel for when
to use them. 

In general, they're often used instead of lists:

1. to group items when the position in the collection is critical, such as coord = (x, y)
1. when you want to make prevent accidental modification of the items, e.g. shape = (12, 23)
1. when we need a *hashable* object (as key in a mapping/dict) (explained later)

In [58]:
b = (1,2,3,4,5)
type(b)

tuple

In [59]:
b1 = [1,2,3,4,5]
type(b1)

list

In [60]:
b1[0] = 2
b1

[2, 2, 3, 4, 5]

In [61]:
#b[0] = 2

### 4.3 Dictionaries

Dictionaries are the collection to use when you want to store and retrieve things by their names
(or some other kind of key) instead of by their position in the collection. A good example is a set
of model parameters, each of which has a name and a value. Dictionaries are declared using {}.

`key` $\to$ `value` pairs

In [62]:
my_dict = {"Marry" : 22 , "Frank" : 33  }

In [63]:
my_dict

{'Marry': 22, 'Frank': 33}

In [64]:
my_dict["Marry"]

22

In [65]:
my_dict["Frank"]

33

In [66]:
my_dict["Anne"] = 13

In [67]:
my_dict

{'Marry': 22, 'Frank': 33, 'Anne': 13}

In [68]:
my_dict["Anne"]

13

In [69]:
#my_dict["Heidi"]

In [70]:
my_dict.get("Heidi", "Danger no entry found!")

'Danger no entry found!'

In [71]:
my_dict.items()

dict_items([('Marry', 22), ('Frank', 33), ('Anne', 13)])

In [72]:
my_dict.keys()

dict_keys(['Marry', 'Frank', 'Anne'])

In [73]:
my_dict.values()

dict_values([22, 33, 13])

## 5. Repeating yourself

So far, everything that we've done could, in principle, be done by hand calculation. In this section
and the next, we really start to take advantage of the power of programming languages to do things
for us automatically.

We start here with ways to repeat yourself. The two most common ways of doing this are known as for
loops and while loops. For loops in Python are useful when you want to cycle over all of the items
in a collection (such as all of the elements of an array), and while loops are useful when you want to
cycle for an indefinite amount of time until some condition is met.

The basic examples below will work for looping over lists, tuples, and arrays. Looping over dictionaries
is a bit different, since there is a key and a value for each item in a dictionary. Have a look at the
Python docs for more information.

### 5.1 __`for` Loops__

In [74]:
wordlist = ["hi", "hello", "by"]

In [75]:
import time
for word in wordlist:
    print(word + "!")
    time.sleep(1)
    print("-----------")
print("Done")

hi!
-----------
hello!
-----------
by!
-----------
Done

In [76]:
for e, word in enumerate(wordlist):
    print(e, word)
    print("-----")

0 hi
-----
1 hello
-----
2 by
-----

**Note on indentation**: Notice the indentation once we enter the for loop.  Every idented statement after the for loop declaration is part of the for loop.  This rule holds true for while loops, if statements, functions, etc. Required identation is one of the reasons Python is such a beautiful language to read.

If you do not have consistent indentation you will get an `IndentationError`.  Fortunately, most code editors will ensure your indentation is correction.

__NOTE__ In Python the default is to use four (4) spaces for each indentation, most editros can be configured to follow this guide.

> **Challenge**
* Sum all of the values in a collection using a for loop
`numlist = [1, 4, 77, 3]`

In [77]:
# solution
numlist = [1, 4, 77, 3]
total = 0
for mymother in numlist:
    total = total + mymother
print(total)

85

> **Challenge**
* Combine items from two lists and print them as one string to the console   
`name = ["John", "Ringo", "Paul", "George"]`   
`surname = ["Lennon", "Star", "McCartney", "Harrison"]`

In [78]:
name = ["John", "Ringo", "Paul", "George"]
surname = ["Lennon", "Star", "McCartney", "Harrison"]

In [79]:
# Solution 1
for e, n in enumerate(name):
    print(e, n)
    print(n, surname[e])
    print("-----")

0 John
John Lennon
-----
1 Ringo
Ringo Star
-----
2 Paul
Paul McCartney
-----
3 George
George Harrison
-----

In [80]:
# Solution 2
for i in zip(name, surname):
    print(i[0], i[1])

John Lennon
Ringo Star
Paul McCartney
George Harrison

### List comprehensions

In [81]:
# Solution 3
[f'{x} {y}' for x,y in zip(name, surname)]

['John Lennon', 'Ringo Star', 'Paul McCartney', 'George Harrison']

### 5.2 **`while` loop**

In [82]:
# and want to stop once a certain condition is met.
step = 0
prod = 1
while prod < 100:
    step = step + 1
    prod = prod * 2
    print(step, prod)
    time.sleep(0.3)
    
print('Reached a product of', prod, 'at step number', step)

1 2
2 4
3 8
4 16
5 32
6 64
7 128
Reached a product of 128 at step number 7

## 6. Making choices

Often we want to check if a condition is True and take one action if it is, and another action if the
condition is False. We can achieve this in Python with an if statement.

__TIP:__ You can use any expression that returns a boolean value (True or False) in an if statement.
Common boolean operators are ==, !=, <, <=, >, >=. You can also use `is` and `is not` if you want to
check if two variables are identical in the sense that they are stored in the same location in memory.

In [83]:
x = 0

if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

> **Challenge**
Write a countdown!

In [84]:
range(10)

range(0, 10)

In [85]:
for number in range(10):
    count = 10-number
    print(count)
    time.sleep(1)
    if  count == 1:
        print("Engine start!")

10
9
8
7
6
5
4
3
2
1
Engine start!

## 7. IO

Write a text file

In [86]:
f = open("../data/interim/my_file.txt", "w")   
for i in range(5):
    f.write("Line {}\n".format(i))
f.close()

In [87]:
# using a context manager
with open("../data/interim/my_file.txt", "a") as f:   
    for i in range(100,105):
        f.write("LINE {}\n".format(i))

Read a file

In [88]:
with open ("../data/interim/my_file.txt", "r") as f:
    print(f.read())

Line 0
Line 1
Line 2
Line 3
Line 4
LINE 100
LINE 101
LINE 102
LINE 103
LINE 104

>**Challenge** 
* Extract the numerical values of the file `my_file.txt` into a list of floating point values.

In [89]:
my_storage = [] #list()
with open ("../data/interim/my_file.txt", "r") as f:
    for line in f:
        number = float(line.split()[1]) 
        my_storage.append(number)
my_storage

[0.0, 1.0, 2.0, 3.0, 4.0, 100.0, 101.0, 102.0, 103.0, 104.0]

In [90]:
"LINE 0".split()

['LINE', '0']

In [91]:
"LINE 0".split()[1]

'0'

In [92]:
float("LINE 0".split()[1])

0.0

## 8 Functions (UDFs)

In [93]:
def my_func(a,b,c=10):
    rv = (a-b)*c
    return rv

In [94]:
my_result = my_func(a=1,  b=2)
my_result

-10

> **Challenge** 
* Write a function that computes Kelvin from Fahrenheit (`fahrenheit_to_kelvin`)
* Write a function that computes Celsius from Kelvin (`kelvin_to_celsius`)
* Write a function that computes Celsius form Fahrenheit (`fahrenheit_to_celsius`); Resue the two functions from above.


`fahrenheit_to_kelvin` $$K = (°F - 32.0) \times \frac{5}{9} + 273.15  $$

`kelvin_to_celsius` $$°C = K - 273.15  $$

#### @1

In [95]:
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

In [96]:
fahrenheit_to_kelvin(-50)

227.59444444444443

#### @2

In [97]:
def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

In [98]:
kelvin_to_celsius(0)

-273.15

#### @3

In [99]:
def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C

### Code refactoring

In [100]:
%%writefile ../src/temperature_module.py

def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C
    
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

Overwriting ../src/temperature_module.py

#### Add path to look for modules

In [101]:
import sys
sys.path.append("../src")

#### Load own module

In [102]:
import temperature_module as tm

In [103]:
tm.kelvin_to_celsius(100)

-173.14999999999998

In [104]:
tm.fahrenheit_to_celsius(100)

37.77777777777777

In [105]:
tm.fahrenheit_to_kelvin(100)

310.92777777777775

## 9. Final challenge 

### Build rock sciscors paper

> __Task__ 
Implement the classic children's game Rock-paper-scissors, as well as a simple predictive AI (artificial intelligence) player.   

> Rock Paper Scissors is a two player game.    
> Each player chooses one of rock, paper or scissors, without knowing the other player's choice.  

> The winner is decided by a set of rules:   
>  * Rock beats scissors   
>  * Scissors beat paper   
>  * Paper beats rock   

> If both players choose the same thing, there is no winner for that round. If you don't konw the rules you may finde them [here](https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors).
> For this task, the computer will be one of the players.

> The operator will select Rock, Paper or Scissors and the computer will keep a record of the choice frequency, and use that information to make a weighted random choice in an attempt to defeat its opponent.
> Consider the function `input()` to ask for user input. Try to implement an exit rule as well.

In [106]:
from random import choice
 
rules = {'rock': 'paper', 'scissors': 'rock', 'paper': 'scissors'}
previous = ['rock', 'paper', 'scissors']
 
while True:
    human = input('\nchoose your weapon: ')
    computer = rules[choice(previous)]  # choose the weapon which beats a randomly chosen weapon from "previous"
    if human in ('quit', 'exit'):
        break
 
    elif human in rules:
        print('the computer played', computer, end='; ')
 
        if rules[computer] == human:  # if what beats the computer's choice is the human's choice...
            print('yay you win!')
        elif rules[human] == computer:  # if what beats the human's choice is the computer's choice...
            print('the computer beat you... :(')
        else: print("it's a tie!")
 
    else: print("that's not a valid choice")

choose your weapon:  quit

***