# Tabular data examples

In [22]:
import numpy as np
import pandas as pd

## Generate data

In [25]:
N = 5000

In [26]:
dates_range = pd.date_range(start='1/1/2005', periods=N)
dates_range[-10:]

DatetimeIndex(['2018-08-31', '2018-09-01', '2018-09-02', '2018-09-03',
               '2018-09-04', '2018-09-05', '2018-09-06', '2018-09-07',
               '2018-09-08', '2018-09-09'],
              dtype='datetime64[ns]', freq='D')

In [97]:
date = pd.to_datetime(np.random.choice(dates_range, N))
region = None
var1 = np.random.random(N)
var2 = np.random.choice(['in progress', 'completed'], N)
var3 = np.random.choice([True, False], N)
rand_table = pd.DataFrame({'Date':date, 'Var1':var1, 'Var2':var2, 'Var3':var3})

In [98]:
name = ['Beiersdorf AG', 'Beiersdorf Customer Supply GmbH', 'Beiersdorf Manufacturing Berlin GmbH', 
       'Beiersdorf Manufacturing Hamburg GmbH', 'Beiersdorf Manufacturing Waldheim GmbH',"Beiersdorf Shared Services GmbH",
       "La Prairie Group Deutschland GmbH", "WINGMAN-STUDIOS GmbH"]
address = ['Unnastrasse 48', 'Unnastrasse 48', 'Franklinstrasse 1', 'Troplowitzstrasse 10', 'Am Eichberg', 
          'Quickbornstrasse 24', 'Lange Stra√üe 65', 'Troplowitzstrasse 10']
zip_code = ['20253', '20253', '10587', '22529', '04736', '20253', '76530', '22529']
city = ['Hamburg', 'Hamburg', 'Berlin', 'Hamburg','Waldheim', 'Hamburg', 'Baden-Baden' 'Hamburg']
country = ['Germany'] * len(city)

zipped = list(zip(name, address, zip_code, city, country))
idx = np.random.choice(range(len(city)), N)
headquaters = pd.DataFrame([zipped[i] for i in idx], columns=['Name', 'Address', 'Zip-code', 'City', 'Country'])

In [102]:
data = pd.concat([rand_table, headquaters], sort=True, axis=1)

In [104]:
data.sample(10)

,Date,Var1,Var2,Var3,Name,Address,Zip-code,City,Country
1908,2006-02-23,0.427379,in progress,True,Beiersdorf Manufacturing Berlin GmbH,Franklinstrasse 1,10587,Berlin,Germany
190,2014-04-13,0.854432,in progress,True,Beiersdorf AG,Unnastrasse 48,20253,Hamburg,Germany
2743,2009-06-24,0.994221,in progress,True,Beiersdorf AG,Unnastrasse 48,20253,Hamburg,Germany
2933,2007-03-02,0.623525,completed,True,Beiersdorf Manufacturing Berlin GmbH,Franklinstrasse 1,10587,Berlin,Germany
4970,2005-12-22,0.226473,completed,False,Beiersdorf Shared Services GmbH,Quickbornstrasse 24,20253,Hamburg,Germany
4904,2015-12-23,0.542095,in progress,False,Beiersdorf Manufacturing Waldheim GmbH,Am Eichberg,04736,Waldheim,Germany
2406,2015-04-09,0.796632,completed,False,Beiersdorf AG,Unnastrasse 48,20253,Hamburg,Germany
3552,2015-12-09,0.123518,in progress,False,Beiersdorf Customer Supply GmbH,Unnastrasse 48,20253,Hamburg,Germany
853,2016-10-09,0.078375,completed,False,Beiersdorf Customer Supply GmbH,Unnastrasse 48,20253,Hamburg,Germany
4959,2018-01-03,0.401356,in progress,False,Beiersdorf Shared Services GmbH,Quickbornstrasse 24,20253,Hamburg,Germany

In [110]:
data.to_csv('../data/fake_beiersdorf_data_german.csv', sep=';', index=False)
data.to_csv('../data/fake_beiersdorf_data.csv', index=False)

***